.Form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Form input {
    padding: 0 10px;
    width: 400px;
    height: 30px;
    margin: 5px 0;
    outline: none;
}