.NewsBlock {
    width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}